<div class="col-md-3">
  <div class="constrain center-block"><img src="<%= url('/images/matt.jpg') %>" class="img-circle img-responsive" /></div>
  <p  class="text-center topmargin"><small>I am Matt, a Marlborough local who currently sells cars. I am a hobbiest web developer, arduino tinkerer and wannabe home brewer. I love reading, video games, linux, beer, my girlfriend, my cat Jerry and my dog Kip.</small></p>

  <p class="text-center"><small><a href="mailto:brownprobable@gmail.com">brownprobable@gmail.com</a></small></p>
  <p class="text-center"><small><a href="tel:02108216163">021 0821 6163</a></small></p>

  <p class="text-center"><small><a href="https://www.facebook.com/mpbrown13">Facebook</a></small></p>
  <p class="text-center"><small><a href="https://github.com/mattybrown">Github</a></small></p>

</div>
