<form class="form-signin" action="/auth/login" method="post">
  <h2 class="form-signin-heading">Sign in</h2>
  <input type="text" name="user[username]" placeholder="User name" class="form-control"></input>
  <input type="password" name="user[password]" placeholder="Password" class="form-control"></input>
  <button class="btn btn-lg btn-primary btn-block" type="submit">Sign in</button>
</form>
