<a href="http://www.philbrownmotors.co.nz/"><h4>Phil Brown Motors</h4></a>
<p><strong>Car Salesperson</strong><br />
<em>October 2014 – Present</em><br />
Working as a car salesman has been very challenging and also very rewarding. The job entailed a wide range of duties. Cleaning, paperwork, minor mechanical repairs but most importantly working with customers.</p>

<hr />

<a href="http://blenheimsun.co.nz/"><h4>The Blenheim Sun</h4></a>
<p><strong>Paginator</strong><br />
<em>March 2012 – October 2014</em><br />
The Blenheim Sun was a great team - it was hard, fast-paced work with tight deadlines and the occasional late night. It really grew my skills in the Adobe Creative Suite, team communication and time management.</p>
