.form-signin {
  max-width: 330px;
  padding: 15px;
  margin: 0 auto;
}
.form-signin .form-signin-heading,
.form-signin .checkbox {
  margin-bottom: 10px;
}
.form-signin .checkbox {
  font-weight: normal;
}
.form-signin .form-control {
  position: relative;
  height: auto;
  -webkit-box-sizing: border-box;
     -moz-box-sizing: border-box;
          box-sizing: border-box;
  padding: 10px;
  font-size: 16px;
}
.form-signin .form-control:focus {
  z-index: 2;
}
.form-signin input[type="text"] {
  margin-bottom: -1px;
  border-bottom-right-radius: 0;
  border-bottom-left-radius: 0;
}
.form-signin input[type="password"] {
  margin-bottom: 10px;
  border-top-left-radius: 0;
  border-top-right-radius: 0;
}
.form-group{
  max-width:600px;
}
.highlight {
    padding: 9px 14px;
    margin-bottom: 14px;
    background-color: #F7F7F9;
    border: 1px solid #E1E1E8;
    border-radius: 4px;
}
.bg-danger, .bg-success {
    padding:15px;
}
.footer {
    bottom: 0px;
    width: 100%;
    height: 60px;
    background-color: #F7F7F9;
    border-top: 1px solid #E1E1E8;
}
.topmargin{
  margin-top:20px;
}
.constrain{
  width: 150px;
}
.share{
  margin:5px 0 0 5px;
}

/* Colour Scheme */

body{
  background-color: #e8eddf;
  color:#242423;
}

.navbar-default{
  background-color: #242423;
  border-color: #333533;
}
.navbar-default .navbar-nav li a{
  color:#e8eddf;
}
.navbar-default .navbar-nav li a:hover{
  color:#f5cb5c;
}
.navbar-default .navbar-nav li a:active{
  color:#f5cb5c;
}
.navbar-brand{
  font-family: Times, serif;
}
.navbar-default .navbar-brand{
  color:#f5cb5c;
}
.navbar-default .navbar-brand:hover{
  color:#e8eddf;
}
.highlight{
  background-color: #cfdbd5;
  border:1px solid #e8eddf;
}
.footer{
  background-color: #242423;
  border-color: #333533;
}
.img-responsive{
  border:1px solid #242423;
}
.img-thumbnail{
  background-color:#e8eddf;
}
a{
  color:#333533;
}
a:hover{
  color:#242423;
}
